/* Default styles */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(183, 202, 221);
  }
.App {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  select {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
  }
  
  .chart {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Media queries for responsiveness */
  /* Adjust styles for screens smaller than 600px */
  @media (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    select {
      width: 100%;
    }
  }
  
  /* Adjust styles for screens between 601px and 900px */
  @media (min-width: 601px) and (max-width: 900px) {
    .chart {
      max-width: 80%;
    }
  }
  
  /* Adjust styles for screens larger than 900px */
  @media (min-width: 901px) {
    .App {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .chart {
      max-width: 60%;
    }
  }
  